################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/grafm/v16
/.vs
/ConsoleRogue/.vs/ConsoleRogue/v16
